<div class="distributor-countries-web">
  <div class="countries-column">
    <div class="country-card">
      <%= image_tag 'uk.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.uk") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'peru.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.peru") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'saudi-arabia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.saudi_arabia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'netherlands.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.netherlands") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'brazil.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.brazil") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'ivory-coast.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.ivory_coast") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'uae.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.uae") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'argentina.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.argentina") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'singapore.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.singapore") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'ireland.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.ireland") %></p>
    </div>
  </div>
  <div class="countries-column">
    <div class="country-card">
      <%= image_tag 'indonesia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.indonesia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'turkey.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.turkey") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'egypt.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.egypt") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'sri-lanka.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.sri_lanka") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'hungary.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.hungary") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'poland.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.poland") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'chile.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.chile") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'india.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.india") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'germany.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.germany") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'morocco.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.morocco") %></p>
    </div>
  </div>
  <div class="countries-column">
    <div class="country-card">
      <%= image_tag 'south-africa.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.south_africa") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'venezuela.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.venezuela") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'greece.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.greece") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'italy.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.italy") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'portugal.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.portugal") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'malta.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.malta") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'australia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.australia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'bulgaria.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.bulgaria") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'guatemala.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.guatemala") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'nigeria.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.nigeria") %></p>
    </div>
  </div>
  <div class="countries-column">
    <div class="country-card">
      <%= image_tag 'france.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.france") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'malaysia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.malaysia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'spain.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.spain") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'croatia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.croatia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'lithuania.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.lithuania") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'philippines.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.philippines") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'usa.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.usa") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'israel.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.israel") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'china.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.china") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'sweden.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.sweden") %></p>
    </div>
  </div>
  <div class="countries-column">
    <div class="country-card">
      <%= image_tag 'austria.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.austria") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'vietnam.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.vietnam") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'latvia.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.latvia") %></p>
    </div>
    <div class="country-card">
      <%= image_tag 'distributor-plus-icon.png' %>
      <p class="paragraph-text"><%= t("distributor_countries.be_the_next") %></p>
    </div>
  </div>
</div>

<div class="distributor-countries-mobile">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'uk.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.uk") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'peru.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.peru") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'saudi-arabia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.saudi_arabia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'netherlands.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.netherlands") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'brazil.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.brazil") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'ivory-coast.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.ivory_coast") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'uae.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.uae") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'argentina.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.argentina") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'singapore.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.singapore") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'ireland.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.ireland") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'indonesia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.indonesia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'turkey.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.turkey") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'egypt.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.egypt") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'sri-lanka.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.sri_lanka") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'hungary.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.hungary") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'poland.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.poland") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'chile.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.chile") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'india.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.india") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'germany.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.germany") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'morocco.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.morocco") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'south-africa.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.south_africa") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'venezuela.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.venezuela") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'greece.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.greece") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'italy.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.italy") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'portugal.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.portugal") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'malta.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.malta") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'australia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.australia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'bulgaria.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.bulgaria") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'guatemala.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.guatemala") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'nigeria.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.nigeria") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'france.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.france") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'malaysia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.malaysia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'spain.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.spain") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'croatia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.croatia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'lithuania.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.lithuania") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'philippines.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.philippines") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'usa.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.usa") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'israel.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.israel") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'china.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.china") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'sweden.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.sweden") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'austria.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.austria") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'vietnam.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.vietnam") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'latvia.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.latvia") %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="country-card">
          <%= image_tag 'distributor-plus-icon.png' %>
          <p class="paragraph-text"><%= t("distributor_countries.be_the_next") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="distributor-see-more">
  <div id="see-more" class="see-more-button">
    <p>See more</p>
  </div>
  <div id="see-less" class="see-more-button d-none">
    <p>See less</p>
  </div>
</div>

<script>
  container = document.querySelector('.distributor-countries-mobile')
  moreButton = document.getElementById('see-more')
  lessButton = document.getElementById('see-less')

  moreButton.addEventListener('click', () => {
    container.classList.toggle('change-height');
    moreButton.classList.toggle('d-none')
    lessButton.classList.toggle('d-none')
  })
  lessButton.addEventListener('click', () => {
    container.classList.toggle('change-height');
    moreButton.classList.toggle('d-none')
    lessButton.classList.toggle('d-none')
  })
</script>
