<div class="navbar-foenix">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Foenix Coding", class: "navbar-logo nav-left" %>
    <% end %>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="productsDropdown" class="navbar-title nav-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.products") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="productsDropdown">
        <ul class="dropdown-menu-ul">
          <li class="printers-menu">
            <a href="#" style="pointer-events: none;">
              <%= image_tag 'icon-1.png' %><%= t("navbar.printers") %>
            </a>
            <%= link_to fxone_standard_path, class: 'printers-text-container mt-1' do %>
              <span class="printers-text"><%= t("navbar.printer_one") %></span><i class="fas fa-angle-right"></i>
            <% end %>
            <%= link_to fxone_remote_path, class: 'printers-text-container' do %>
              <span class="printers-text"><%= t("navbar.printer_two") %></span><i class="fas fa-angle-right"></i>
            <% end %>
            <%= link_to fxone_plus_path, class: 'printers-text-container' do %>
              <span class="printers-text"><%= t("navbar.printer_three") %></span><i class="fas fa-angle-right"></i>
            <% end %>
          </li>
          <li>
            <%= link_to software_path do %>
              <%= image_tag 'icon-2.png' %><%= t("navbar.software") %>
            <% end %>
          </li>
          <li>
            <%= link_to inks_and_consumables_path do %>
              <%= image_tag 'icon-3.png' %><%= t("navbar.inks") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="serviceDropdown" class="navbar-title nav-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.services") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="serviceDropdown">
        <ul class="dropdown-menu-ul">
          <li>
            <%= link_to distributor_path do %>
              <%= image_tag 'icon-4.png' %><%= t("navbar.distributors") %>
            <% end %>
          </li>
          <li>
            <%= link_to cost_of_ownership_path do %>
              <%= image_tag 'icon-5.png' %><%= t("navbar.cost") %>
            <% end %>
            </li>
          <li>
            <%= link_to faq_path do %>
              <%= image_tag 'icon-6.png' %><%= t("navbar.FAQ") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="companyDropdown" class="navbar-title nav-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.company") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="companyDropdown">
        <ul class="dropdown-menu-ul">
          <li>
            <%= link_to about_path do %>
              <%= image_tag 'icon-7.png' %><%= t("navbar.about") %>
            <% end %>
          </li>
          <li>
            <%= link_to jobs_path do %>
              <%= image_tag 'icon-8.png' %><%= t("navbar.careers") %>
            <% end %>
          </li>
          <li>
            <%= link_to posts_path do %>
              <%= image_tag 'icon-9.png' %><%= t("navbar.news") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-right hidden">
    <div class="navbar-item">
      <% if user_signed_in? %>
        <%= link_to( t('navbar.logout'), destroy_user_session_path, method: :delete, class: "navbar-title nav-right m-0" ) %>
      <% else %>
        <%= link_to t('navbar.login'), new_user_session_path, class: "navbar-title nav-right m-0"  %>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to t("navbar.contact"), contact_path, class: "navbar-title nav-right"  %>
    </div>
<!--     <div class="navbar-item">
      <a href="#" role="button" id="productsDropdown" class="navbar-lang-link nav-right"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= locale.capitalize %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="productsDropdown">
        <ul class="dropdown-menu-ul">
          <li><%#= image_tag 'uk.png' %><%#= link_to "English", { :locale=>'en' } %></li>
          <li><%#= image_tag 'france.png' %> <%#= link_to "Français", { :locale=>'fr' } %></li>
        </ul>
      </div>
    </div> -->
  </div>
  <div id="mobile-navbar">
    <i class="fas fa-bars" onclick="openNav()"></i>
  </div>
</div>
<div id="mobile-menu" onclick="closeNav()">
  <div id="mobile-links">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul style="width: 92%;">
      <li class="first-mobile-link"><span><%= image_tag 'icon-1.png' %><%= t("navbar.printers") %></span></li>
      <li class="printers-menu mobile-printers-menu">
        <%= link_to fxone_standard_path, class: 'printers-text-container mt-1' do %>
          <span class="printers-text"><%= t("navbar.printer_one") %></span><i class="fas fa-angle-right"></i>
        <% end %>
        <%= link_to fxone_remote_path, class: 'printers-text-container' do %>
          <span class="printers-text"><%= t("navbar.printer_two") %></span><i class="fas fa-angle-right"></i>
        <% end %>
        <%= link_to fxone_plus_path, class: 'printers-text-container' do %>
          <span class="printers-text"><%= t("navbar.printer_three") %></span><i class="fas fa-angle-right"></i>
        <% end %>
      </li>
      <li class="each-mobile-link"><%= image_tag 'icon-2.png' %><a href="/software">Software</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-3.png' %><a href="/inks_and_consumables">Inks & Consumables</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-4.png' %><a href="/distributor">Worldwide Distributors</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-5.png' %><a href="/cost_of_ownership">Cost of ownership?</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-6.png' %><a href="/faq">FAQ</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-7.png' %><a href="/about">About</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-8.png' %><a href="/jobs">Career</a></li>
      <li class="each-mobile-link"><%= image_tag 'icon-9.png' %><a href="/posts">News/Event</a></li>
    </ul>
  </div>
</div>
<script>
  function openNav() {
    document.getElementById("mobile-links").style.top = "20px"
    document.getElementById("mobile-menu").style.visibility = "visible";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mobile-menu").style.visibility = "hidden";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.0)";
    document.getElementById("mobile-links").style.top = "-800px"
    document.getElementById("mobile-menu").style.transition = "0.6s";
    document.getElementById("mobile-links").style.transition = "top 0.4s";
    // document.getElementById("mobile-links").style.transition = "opacity 1s";
  }
</script>
