<div class="navbar-foenix">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Foenix Coding", class: "navbar-logo" %>
    <% end %>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.products") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="productsDropdown">
        <%= link_to t("navbar.printers"), root_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.software"), root_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.inks"), root_path, class: "dropdown-item"  %>
      </div>
    </div>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="serviceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.services") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="serviceDropdown">
        <%= link_to t("navbar.distributors"), root_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.cost"), root_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.FAQ"), root_path, class: "dropdown-item"  %>
      </div>
    </div>
    <div class="navbar-item hidden">
      <a href="#" role="button" id="companyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("navbar.company") %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="companyDropdown">
        <%= link_to t("navbar.about"), root_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.careers"), jobs_path, class: "dropdown-item"  %>
        <%= link_to t("navbar.news"), root_path, class: "dropdown-item"  %>
      </div>
    </div>
  </div>
  <div class="navbar-right hidden">
    <div class="navbar-item">
      <% if user_signed_in? %>
        <%= link_to( t('navbar.logout'), destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to t('navbar.login'), new_user_session_path %>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to t("navbar.contact"), root_path %>
    </div>
    <div class="navbar-item">
      <a href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= locale.capitalize %> <i class="fas fa-chevron-down small-chevron"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="productsDropdown">
        <%= link_to "English", { :locale=>'en' }, class: "dropdown-item" %>
        <%= link_to "Français", { :locale=>'fr' }, class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div id="mobile-navbar">
    <i class="fas fa-bars" onclick="openNav()"></i>
  </div>
</div>
<div id="mobile-menu" onclick="closeNav()">
  <div id="mobile-links">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
      <li><%= image_tag 'icon-1.png' %><a href="/">Printers</a></li>
      <li><%= image_tag 'icon-2.png' %><a href="/">Software</a></li>
      <li><%= image_tag 'icon-3.png' %><a href="/">Inks & Consumables</a></li>
      <li><%= image_tag 'icon-4.png' %><a href="/">Worldwide Distributors</a></li>
      <li><%= image_tag 'icon-5.png' %><a href="/">Cost of ownership?</a></li>
      <li><%= image_tag 'icon-6.png' %><a href="/">FAQ</a></li>
      <li><%= image_tag 'icon-7.png' %><a href="/">About</a></li>
      <li><%= image_tag 'icon-8.png' %><a href="/">Career</a></li>
      <li><%= image_tag 'icon-9.png' %><a href="/">News/Event</a></li>
    </ul>
  </div>
</div>
<script>
  function openNav() {
    document.getElementById("mobile-links").style.top = "100px"
    document.getElementById("mobile-menu").style.visibility = "visible";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mobile-menu").style.visibility = "hidden";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.0)";
    document.getElementById("mobile-links").style.top = "-800px"
    document.getElementById("mobile-menu").style.transition = "0.6s";
    document.getElementById("mobile-links").style.transition = "top 0.4s";
    // document.getElementById("mobile-links").style.transition = "opacity 1s";
  }
</script>
