<div class="about-wrapper">
  <div class="first-section fxone-first-section-background">
    <div class="first-section-text">
      <h1 class="w-100"><%= t("about.first_section_text") %></h1>
    </div>
    <%= cl_image_tag("about-graphic_avvw6d.png", :quality=>"auto", class: "first-section-image") %>
  </div>
  <div class="about-second-section-wrapper">
    <%= cl_image_tag("about-big-pill-sliced_mpxusz.png", :quality=>"auto", class: "about-big-pill") %>
    <%= cl_image_tag("about-little-pill-sliced_z6varw.png", :quality=>"auto", class: "about-little-pill") %>
    <div class="container">
      <div class="about-section mobile-column">
        <div class="about-second-section-left no-padding-mobile">
          <%= cl_image_tag("about-graphic-2_gcrekd.png", :quality=>"auto", class: "about-graphic about-graphic-two") %>
          <%= image_tag 'about-dots.png', class: 'about-dots-section-two' %>
        </div>
        <div class="about-second-section-right mobile-center" data-aos="fade-up" data-aos-duration="2000">
          <%= image_tag 'about-icon-1.png', class: 'about-icon' %>
          <h3><%= t("about.second_section_title") %></h3>
          <p class="paragraph-text about-second-section-text"><%= t("about.second_section_text") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-third-section-wrapper">
    <div class="container">
      <div class="about-third-section-text" data-aos="fade-up" data-aos-duration="2000">
        <%= image_tag 'about-icon-2.png', class: 'about-icon' %>
        <h3 class="text-center"><%= t("about.third_section_title") %></h3>
        <p class="paragraph-text text-center"><%= t("about.third_section_text") %></p>
      </div>
    </div>
  </div>
  <div class="about-fourth-section-wrapper" style="background-image: url('<%= cl_image_path("about-slanted-background_towjgo.png", :quality=>"auto") %>')">
    <%#= cl_image_tag("about-slanted-background_towjgo.png", :quality=>"auto", class: "about-graphic slanted-background") %>
    <%= cl_image_tag("about-graphic-3_y4zb6l.png", :quality=>"auto", class: "about-graphic-four") %>
    <%= image_tag 'about-dots.png', class: 'about-dots about-dots-section-three' %>
    <div class="container">
      <div class="about-fourth">
        <div class="about-fourth-text-left">
          <p class="paragraph-text"><%= t("about.fourth_section_text_left") %></p>
        </div>
        <div class="middle-break" style="height: 100%; border-left: 1px solid black;"></div>
        <div class="about-fourth-text-right">
          <p class="paragraph-text"><%= t("about.fourth_section_text_right") %></p>
        </div>
      </div>
    </div>
    <div class="about-fifth-section-wrapper">
      <div class="container">
        <div class="about-section about-fifth-section no-padding-mobile">
          <div class="about-fifth-section-left" data-aos="fade-right" data-aos-duration="2000">
            <%= cl_image_tag("about-graphic-4-with-dots_w2k2fb.png", :quality=>"auto", class: "about-graphic about-graphic-two hide-mobile") %>
            <%#= image_tag 'about-dots.png', class: 'about-dots-fifth' %>
          </div>
          <div class="about-fifth-section-right mobile-center" data-aos="fade-up" data-aos-duration="2000">
            <%= image_tag 'about-icon-3.png', class: 'about-icon' %>
            <h3 class="about-fifth-section-text"><%= t("about.fifth_section_title") %></h3>
            <%= cl_image_tag("about-graphic-4_r5ic34.png", :quality=>"auto", class: "about-graphic about-graphic-two show-mobile") %>
            <p class="paragraph-text about-fifth-section-text"><%= t("about.fifth_section_text_one") %></p>
            <p class="paragraph-text about-fifth-section-text"><%= t("about.fifth_section_text_two") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/newsletter' %>
</div>
