<% content_for :meta_title, "#{t('seo.contact.title')}" %>
<% content_for :meta_description, "#{t('seo.contact.description')}" %>

<div class="contact">
  <%= cl_image_tag("inks_big_pill_dqob2a.png", class: "contact-pill") %>
  <div class="container">
    <h1 class="text-center"><%= t('contact.contact_title') %></h1>
    <p class="text-center"><%= t("contact.contact_title_description")%> <br><%= t("contact.contact_happy") %></p>
    <div class="contact_details">
      <div class="contact-form">
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="/create_contact" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="text" name="name" id="full-name" placeholder="<%= t('contact.form_name') %>" required="">
            <input type="email" name="email" id="email-address" placeholder="<%= t('contact.form_email') %>" required="">
            <input type="integer" name="phone" id="phone" placeholder="<%= t('contact.form_phone') %>" required="">
            <input type="text" name="company" id="company" placeholder="<%= t('contact.form_company') %>" required="">
            <input type="text" name="country" id="country" placeholder="<%= t('contact.form_country') %>" required="">
            <textarea rows="5" name="message" id="message" placeholder="<%= t('contact.form_message') %>" required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
            <div class="g-recaptcha" style="margin-top: 20px;" data-sitekey="6Leq5_IUAAAAABljypFOmp3MNhP-UOUDLzmEkGy3
" data-callback="enableBtn"></div>
          <input disabled id='button1' type="submit" value="Submit">
        </form>
      </div>
      <div class="contact-text">
        <div class="contact-text-one">
          <%= image_tag 'contact-icon-1.png', class: 'about-icon square-icon' %>
          <p>Tel: 0044 1932 701 449 <br> Email: sales@foenixcoding.com</p>
        </div>
        <div class="contact-text-one">
          <%= image_tag 'contact-icon-2.png', class: 'about-icon square-icon' %>
          <p><%= t("contact.icon_text_two") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function enableBtn(){
     document.getElementById("button1").disabled = false;
     document.getElementById("button1").style.opacity = 1
   }
</script>
