<% content_for :meta_title, "#{t('cost_of_ownership.first_section_title')} FX ONE" %>
<% content_for :meta_description, "#{t('cost_of_ownership.first_section_text')}" %>
<% content_for :meta_image, cl_image_path("Piggy_1_al3kec", width: 400) %>

<%= cl_image_tag("about-big-pill-sliced_mpxusz.png", :quality=>"auto", class: "ownership-big-pill hide-mobile") %>
<%= cl_image_tag("about-little-pill-sliced_z6varw.png", :quality=>"auto", class: "ownership-little-pill") %>
<div class="ownership-wrapper">
  <div class="first-section fxone-first-section-background mobile-column">
      <div class="first-section-text">
        <h1 class="responsive-header w-100"><%= t("cost_of_ownership.first_section_title") %> <span><%= cl_image_tag("fxone-logo_zjjdvc.png", class: "fxone-logo-right") %></span></h1>
        <p class="paragraph-text"><%= t("cost_of_ownership.first_section_text") %></p>
      </div>
      <%= cl_image_tag("Piggy_1_al3kec.png", :quality=>"auto", class: "first-section-image") %>
  </div>
  <div class="ownership-second-section-wrapper">
    <%= image_tag 'ownership-icon-1.png', class: 'about-icon' %>
    <h2 class="ownership-second-section-text text-center"><%= t("cost_of_ownership.second_section_title") %></h2>
    <p class="responsive-text-small ownership-second-section-text text-center"><%= t("cost_of_ownership.second_section_text") %></p>
  </div>
  <div class="ownership-third-section-wrapper">
    <%= cl_image_tag("ownership-slider_vuhnwc.png", :quality=>"auto", id: "ownership-slider", class: "ownership-slider hide-mobile") %>
    <%= cl_image_tag("ownership-slider-mobile_h8vl9t.png", :quality=>"auto", id: "ownership-slider-mobile", class: "ownership-slider show-mobile") %>
    <div class="coming-soon" style="background-image: url('<%= cl_image_path "coming-soon-background_wjcoct.png" %>')">
      <p class="coming-soon-text"><%= t("fxone_plus.coming_soon") %></p>
    </div>
  </div>
</div>
<%= render 'shared/newsletter' %>

<script>
  comingSoon = document.querySelector('.coming-soon');
  image = document.getElementById('ownership-slider');
  imageMobile = document.getElementById('ownership-slider-mobile');

  image.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
  })
  image.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
  })
  comingSoon.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
    image.style.filter = 'blur(10px)'
  })
  comingSoon.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
    image.style.filter = ''
  })

  imageMobile.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
  })
  imageMobile.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
  })
  comingSoon.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
    imageMobile.style.filter = 'blur(10px)'
  })
  comingSoon.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
    imageMobile.style.filter = ''
  })


</script>
