<% content_for :meta_title, "#{t('seo.distributors.title')}" %>
<% content_for :meta_description, "#{t('seo.distributors.description')}" %>

<div class="distributor-wrapper">
  <div class="first-section fxone-first-section-background mobile-column">
      <div class="first-section-text">
        <h1 class="w-100"><%= t("distributor.first_section_title") %></h1>
        <p class="paragraph-text"><%= t("distributor.first_section_text") %></p>
        <%= image_tag 'square-dots.png', class: 'distributor-dots' %>
      </div>
        <%#= cl_image_tag("distributor-continents_l9lnki.png", :quality=>"auto", class: "distributor-graphic") %>
        <%= image_tag 'map-animation.gif', class: 'first-section-image map-gif' %>
  </div>
  <div class="distributor-second-section-wrapper">
    <div class="container-countries">
      <div class="distributor-second-section">
        <h2 class="mobile-margin-bottom"><%= t("distributor.second_section_title") %>:</h2>
        <div class="distributor-countries-container">
          <%#= render 'shared/distributor_countries' %>
          <div class="distributor-countries-web">
            <div class="row" style="margin: 0; position: relative; z-index: 1">
              <% @countries.each do |country| %>
                <div class="country-card" style="width: 20%;">
                  <%= image_tag url_for(country.photo) %>
                  <p class="paragraph-text"><%= country.name %></p>
                </div>
              <% end %>
              <div class="country-card hide-mobile" style="width: 20%;">
                <%= image_tag 'distributor-plus-icon.png' %>
                <p class="paragraph-text"><%= t("distributor_countries.be_the_next") %></p>
              </div>
            </div>
          </div>
          <div class="distributor-countries-mobile">
            <div class="row" style="margin: 0;">
              <% @countries.each do |country| %>
                <div class="country-card" style="width: 33.33%;">
                  <%= image_tag url_for(country.photo) %>
                  <p class="paragraph-text"><%= country.name %></p>
                </div>
              <% end %>
              <div class="country-card" style="width: 33.33%;">
                <%= image_tag 'distributor-plus-icon.png' %>
                <p class="paragraph-text"><%= t("distributor_countries.be_the_next") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="distributor-see-more">
        <div id="see-more" class="see-more-button">
          <p>See more</p>
        </div>
        <div id="see-less" class="see-more-button d-none">
          <p>See less</p>
        </div>
      </div>
    </div>
  </div>
  <div class="distributor-third-section-wrapper">
    <%#= cl_image_tag("about-little-pill-sliced_z6varw.png", :quality=>"auto", class: "distributor-pill") %>
    <%= cl_image_tag("distributor-slant_hgpm00.png", :quality=>"auto", class: "distributor-slant") %>
    <div class="container">
      <%= image_tag 'square-dots.png', class: 'distributor-dots-two' %>
      <div class="distributor-section distributor-contact">
        <div class="distributor-contact-us-form">
          <%= simple_form_for :send_email, url: send_email_path, method: :post do |f| %>
            <div class="contact-form-name">
              <div class="row">
                <div class="col-12">
                  <%= f.input :first_name, label: false, placeholder:'First Name and Last Name', input_html: { class: "contact-first-name" } %>
                </div>
              </div>
            </div>
            <%= f.input :email, label: false, placeholder:'Email' %>
            <%= f.input :country, as: :string, label: false, placeholder:'Country' %>
            <%= f.input :message, as: :text, label: false, placeholder:'Type your message here', input_html: { class: "contact-message" } %>
            <div class="g-recaptcha" style="margin-top: 20px;" data-sitekey="6Leq5_IUAAAAABljypFOmp3MNhP-UOUDLzmEkGy3
" data-callback="enableBtn"></div>
            <%= f.button :button, 'Submit', type: :submit,  class: "contact-form-button" %>
          <% end %>
        </div>
        <div class="distributor-interested" data-aos="fade-up" data-aos-duration="2000">
          <%= image_tag 'distributor-icon-1.png', class: 'about-icon' %>
          <h2><%= t("distributor.third_section_title") %></h2>
          <p class="responsive-text-small"><%= t("distributor.third_section_text") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="distributor-third-section-mobile">
    <%= cl_image_tag("distributor-mobile_uhqrlt.png", :quality=>"auto", class: "distributor-slant-mobile") %>
    <%= image_tag 'distributor-icon-1.png', class: 'distributor-icon-mobile' %>
  </div>
  <div class="distributor-third-section-mobile-two">
    <div class="distributor-interested">
      <h2><%= t("distributor.third_section_title") %></h2>
      <p class="responsive-text-small"><%= t("distributor.third_section_text") %></p>
    </div>
    <div class="distributor-contact-us-form">
      <%= simple_form_for :send_email, url: send_email_path, method: :get do |f| %>
        <div class="contact-form-name">
          <div class="row">
            <div class="col-12">
              <%= f.input :first_name, label: false, placeholder:'first name', input_html: { class: "contact-first-name" } %>
            </div>
          </div>
        </div>
        <%= f.input :email, label: false, placeholder:'email' %>
        <%= f.input :country, as: :string, label: false, placeholder:'country' %>
        <%= f.input :message, as: :text, label: false, placeholder:'type your message here', input_html: { class: "contact-message" } %>
        <%= f.button :button, 'Submit', type: :submit,  class: "contact-form-button" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/newsletter' %>

<script>
  container = document.querySelector('.distributor-countries-mobile')
  moreButton = document.getElementById('see-more')
  lessButton = document.getElementById('see-less')

  moreButton.addEventListener('click', () => {
    container.classList.toggle('change-height');
    moreButton.classList.toggle('d-none')
    lessButton.classList.toggle('d-none')
  })
  lessButton.addEventListener('click', () => {
    container.classList.toggle('change-height');
    moreButton.classList.toggle('d-none')
    lessButton.classList.toggle('d-none')
  })
  function enableBtn(){
     document.getElementById("button1").disabled = false;
     document.getElementById("button1").style.opacity = 1
   }
</script>
