<div class="fxone-wrapper">
  <div class="about-second-section-wrapper fxone-first-section-wrapper">
    <%= cl_image_tag("inks_big_pill_dqob2a.png", :quality=>"auto", class: "fxone-big-pill") %>
    <%= cl_image_tag("inks_little_pill_pahv4x.png", :quality=>"auto", class: "fxone-little-pill") %>
    <div class="container">
      <div class="about-section fxone-section">
        <div class="about-second-section-left no-padding-mobile">
          <%= cl_image_tag("fxone-remote-graphic-1_mxspzx.png", :quality=>"auto", class: "about-graphic about-graphic-two") %>
        </div>
        <div class="about-second-section-right no-padding-mobile">
          <h1 class="responsive-header"><%= t("fxone_remote.first_section_title") %></h1>
          <p class="paragraph-text about-second-section-text"><%= t("fxone_remote.first_section_text") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="ownership-second-section-wrapper fxone-second-section-wrapper">
    <%= image_tag 'about-dots.png', class: 'fxone-dots hide-mobile' %>
    <%= image_tag 'fxone-icon-1.png', class: 'about-icon' %>
    <h3 class="text-center"><%= t("fxone_remote.second_section_title") %></h3>
  </div>
  <div class="fxone-third-section-wrapper">
    <div class="container">
      <div class="row justify-content-center fxone-cards">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-1.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.first_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.first_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-2.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.second_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.second_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-3.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.third_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.third_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-4.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.fourth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.fourth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-5.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.fifth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.fifth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-6.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.sixth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.sixth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-7.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.seventh_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.seventh_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-8.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.eigth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.eigth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-9.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.ninth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.ninth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-10.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.tenth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.tenth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-11.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.eleventh_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.eleventh_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-12.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.twelfth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.twelfth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-card-icon-13.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.thirteenth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.thirteenth_card_text") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fxone-fourth-section-wrapper">
    <div class="container">
      <div class="fxone-fourth-section-header">
        <%= image_tag 'fxone-icon-2.png', class: 'about-icon' %>
        <h3 class="text-center"><%= t("fxone_remote.fourth_section_title") %></h3>
      </div>
      <div class="about-section fxone-section mobile-column">
        <div class="about-first-section-left no-padding-mobile">
          <%= cl_image_tag("fxone-remote-graphic-3_npzsvy.png", :quality=>"auto", class: "about-graphic about-graphic-two") %>
        </div>
        <div class="about-first-section-right no-padding-mobile">
          <%= cl_image_tag("fxone-remote-graphic-4_tinbue.png", :quality=>"auto", class: "about-graphic about-graphic-two") %>
        </div>
      </div>
    </div>
  </div>
  <div class="fxone-fifth-section-wrapper">
    <%= cl_image_tag("mobile-slant_kd8uj1.png", :quality=>"auto", class: "fxone-mobile-slant show-mobile") %>
    <%= cl_image_tag("fourth-section-top-half_yshdpy.png", :quality=>"auto", class: "fxone-fourth-section-background hide-mobile") %>
    <div class="container">
      <div class="about-section fxone-section d-flex justify-content-center">
        <div class="fxone-fifth-section-content">
          <%= image_tag 'about-dots.png', class: 'fxone-dots-back hide-mobile' %>
          <div class="fxone-fifth-section-left">
            <p class="bold small-text"><%= t("fxone_remote.fifth_section_left_title") %></p>
            <ul style="padding-left: 16px;">
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_one") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_two") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_three") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_four") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_five") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_six") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_seven") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_eight") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_nine") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_ten") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_eleven") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_twelve") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_thirteen") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_fourteen") %></li>
            </ul>
          </div>
          <div class="fxone-fifth-section-right">
            <p class="bold small-text"><%= t("fxone_remote.fifth_section_right_title_one") %></p>
            <ul style="padding-left: 16px;">
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_one") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_two") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_three") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_four") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_five") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_six") %></li>
            </ul>
            <p class="bold small-text"><%= t("fxone_remote.fifth_section_right_title_two") %></p>
            <ul style="padding-left: 16px;">
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_seven") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eight") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_nine") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_ten") %></li>
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eleven") %></li>
            </ul>
            <p class="bold small-text"><%= t("fxone_remote.fifth_section_right_title_three") %></p>
            <ul style="padding-left: 16px;">
              <li class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_twelve") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fxone-sixth-section-wrapper">
    <%#= cl_image_tag("fourth-section-middle_yezkil.png", :quality=>"auto", class: "fxone-fourth-section-background") %>
    <div class="container">
      <div class="fxone-sixth-section-header">
        <%= image_tag 'fxone-icon-3.png', class: 'about-icon' %>
        <h3 class="fxone-remote-sixth-section-title text-center"><%= t("fxone_remote.sixth_section_title") %></h3>
      </div>
      <div class="about-section fxone-section fxone-sixth-section-content">
        <div class="about-first-section-left">
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_left_sub_title_one") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_left_sub_text_one") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_left_sub_title_two") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_left_sub_text_two") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_left_sub_title_three") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_left_sub_text_three") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_left_sub_title_four") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_left_sub_text_four") %></p>
            </div>
          </div>
        </div>
        <div class="about-first-section-right">
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_right_sub_title_one") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_right_sub_text_one") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_right_sub_title_two") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_right_sub_text_two") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_right_sub_title_three") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_right_sub_text_three") %></p>
            </div>
          </div>
          <div class="fxone-sixth-section-check">
            <%= image_tag 'foenix-check.png', width: 20 %>
            <div>
              <p class="bold small-text mb-1"><%= t("fxone_remote.sixth_section_right_sub_title_four") %></p>
              <p class="paragraph-text" style="font-size: 12px !important; line-height: 25px !important"><%= t("fxone_remote.sixth_section_right_sub_text_four") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fxone-seventh-section-wrapper">
    <%= image_tag 'about-dots.png', class: 'fxone-seventh-section-dots' %>
    <%= cl_image_tag("fourth-section-bottom-half_j9e2d7.png", :quality=>"auto", class: "fxone-fourth-section-background hide-mobile") %>
    <div class="container">
      <div class="about-section">
        <div class="about-fifth-section-left mobile-center fxone-no-padding">
          <%= image_tag 'fxone-icon-4.png', class: 'about-icon' %>
          <h3 class="about-fifth-section-text" style="padding-left: 16px;"><%= t("fxone_remote.seventh_section_title") %></h3>
          <p class="paragraph-text about-fifth-section-text" style="padding-left: 16px;"><%= t("fxone_remote.seventh_section_text") %></p>
          <%= cl_image_tag("fxone-remote-graphic-4_lo5sz0.png", :quality=>"auto", class: "about-graphic about-graphic-two show-mobile") %>
        </div>
        <div class="about-fifth-section-right">
          <%= cl_image_tag("fxone-remote-graphic-4_lo5sz0.png", :quality=>"auto", class: "about-graphic about-graphic-two hide-mobile") %>
          <%#= image_tag 'about-dots.png', class: 'about-dots-fifth' %>
        </div>
      </div>
      <div class="fxone-seventh-section-video-container">
        <div class="fxone-seventh-section-video">
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/newsletter' %>
