<div class="fxone-wrapper fxone-standard">
  <div class="about-second-section-wrapper fxone-first-section-wrapper">
    <%= cl_image_tag("inks_little_pill_pahv4x.png", :quality=>"auto", class: "fxone-little-pill") %>
    <div class="container">
      <div class="about-section fxone-section">
        <div class="about-second-section-left">
          <h1><%= t("fxone_remote.first_section_title") %></h1>
          <p class="paragraph-text about-second-section-text inks-card-text"><%= t("fxone_remote.first_section_text") %></p>
        </div>
        <div class="about-second-section-right">
          <%= cl_image_tag("fxone-standard-graphic-1_y8kdvn.png", :quality=>"auto", class: "about-graphic about-graphic-two") %>
        </div>
      </div>
    </div>
  </div>
  <div class="ownership-second-section-wrapper fxone-second-section-wrapper">
    <%= image_tag 'about-dots.png', class: 'fxone-dots' %>
    <%= image_tag 'inks-icon-3.png', class: 'about-icon' %>
    <h3 class="about-first-section-text ownership-second-section-text text-center"><%= t("fxone_remote.second_section_title") %></h3>
  </div>
  <div class="fxone-third-section-wrapper">
    <%= cl_image_tag("fxone-standard-slant_hpot61.png", :quality=>"auto", class: "fxone-standard-slant") %>
    <div class="container">
      <div class="row justify-content-center fxone-cards">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-1.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.first_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.first_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-2.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.second_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.second_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-3.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.third_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.third_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-4.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.fourth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.fourth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-5.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.fifth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.fifth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-6.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.sixth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.sixth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-7.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.seventh_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.seventh_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-8.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.eigth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.eigth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-9.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.ninth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.ninth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-10.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.tenth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.tenth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-11.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.eleventh_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.eleventh_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-12.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.twelfth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.twelfth_card_text") %></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="fxone-card">
            <%= image_tag 'fxone-icon-13.png', class: 'about-icon' %>
            <p class="inks-card-header"><%= t("fxone_remote.thirteenth_card_title") %></p>
            <p class="paragraph-text inks-card-text"><%= t("fxone_remote.thirteenth_card_text") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/newsletter' %>
