<div class="container">
  <% if current_user %>
  <p><%= link_to "Countries", admin_countries_path %></p>
  <p><%= link_to "Posts", posts_path %></p>
  <p><%= link_to "Jobs", jobs_path %></p>
  <% end %>
</div>

<div class="home">
  <div class="first-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg") %>
    <div class="first-section-text">
      <h1>Coding and Marking Made <span>Easy</span></h1>
      <p>Plug-and-play Industrial inkjet Printer for all types of production lines</p>
    </div>
    <div class="first-section-image">
      <%= cl_image_tag("Foenix-machine_iqmh2t.png", :quality=>"auto") %>
    </div>
  </div>
  <div class="second-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg-2") %>
    <div class="second-section-one">
      <%= image_tag 'section-two-icon.png' %>
      <h2>Stress-free product traceability</h2>
      <p>Take your product traceability to all new level by printing in any languages, any fonts and in high resolution on any product</p>
      <a href="/" class="yellow-button"> Learn More <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="second-section-two">
      <div class="code-everything">
        <h3>Code Everything</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one">
            <li><%= image_tag 'foenix-check.png' %>Text</li>
            <li><%= image_tag 'foenix-check.png' %>Use by date</li>
            <li><%= image_tag 'foenix-check.png' %>Time</li>
            <li><%= image_tag 'foenix-check.png' %>Lot number</li>
            <li><%= image_tag 'foenix-check.png' %>Logo</li>
            <li><%= image_tag 'foenix-check.png' %>Barcodes</li>
          </ul>
          <ul class="second-section-two-columns-two">
            <li><%= image_tag 'foenix-check.png' %>QR Codes</li>
            <li><%= image_tag 'foenix-check.png' %>Counter</li>
            <li><%= image_tag 'foenix-check.png' %>Shift</li>
            <li><%= image_tag 'foenix-check.png' %>Variable Data</li>
            <li><%= image_tag 'foenix-check.png' %>External Data</li>
          </ul>
        </div>
      </div>
      <div class="print-on-everything">
        <h3>Print on anything</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one">
            <li><%= image_tag 'foenix-check.png' %>Text</li>
            <li><%= image_tag 'foenix-check.png' %>Use by date</li>
            <li><%= image_tag 'foenix-check.png' %>Time</li>
            <li><%= image_tag 'foenix-check.png' %>Lot number</li>
            <li><%= image_tag 'foenix-check.png' %>Logo</li>
            <li><%= image_tag 'foenix-check.png' %>Barcodes</li>
          </ul>
          <ul class="second-section-two-columns-two">
            <li><%= image_tag 'foenix-check.png' %>QR Codes</li>
            <li><%= image_tag 'foenix-check.png' %>Counter</li>
            <li><%= image_tag 'foenix-check.png' %>Shift</li>
            <li><%= image_tag 'foenix-check.png' %>Variable Data</li>
            <li><%= image_tag 'foenix-check.png' %>External Data</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="second-section-three">
      <%= cl_image_tag("foenix-dots_alc8g7.png", :quality=>"auto", class: "second-section-three_svg") %>
      <%= cl_image_tag("foenix-milk_zg6rhu.png", :quality=>"auto", class: "second-section-three_image") %>
      <%= cl_image_tag("foenix-tube_zlcerz.png", :quality=>"auto", class: "second-section-three_image") %>
    </div>
    <div class="third-section">
      <%= cl_image_tag("foenix-home-background_wziieq.png", :quality=>"auto", class: "third-section_svg") %>
      <div class="third-section-features">
        <%= image_tag 'foenix-home-icon-math.png', class: "third-section-features_icon" %>
        <%#= cl_image_tag("about-little-pill_rup3cj.png", :quality=>"auto", class: "third-section-features_pill") %>
        <h2>One software with tons of features</h2>
       <div class="tab">
         <button class="" onclick="openCity('London')">London</button>
         <button class="" onclick="openCity('Paris')">Paris</button>
         <button class="" onclick="openCity('Tokyo')">Tokyo</button>
         <button class="" onclick="openCity('Bogota')">Bogota</button>
         <button class="" onclick="openCity('Lexico')">Lexico</button>
         <button class="" onclick="openCity('Brussels')">Brussels</button>
       </div>
       <div class="features-dropdown" >
          <button class="" onclick="openCity('London')">London</button><i class="fas fa-chevron-down"></i>
        <div class="features-dropdown-options">
          <button class="" onclick="openCity('London')">London</button>
          <button class="" onclick="openCity('Paris')">Paris</button>
          <button class="" onclick="openCity('Tokyo')">Tokyo</button>
          <button class="" onclick="openCity('Bogota')">Bogota</button>
          <button class="" onclick="openCity('Lexico')">Lexico</button>
          <button class="" onclick="openCity('Brussels')">Brussels</button>
        </div>
       </div>

        <div id="London" class="city">
          <div class="tab-text">
            <h4>Zero Downtime, No Maintenance</h4>
            <p>From emerging businesses with 1 small production line to multinational corporations with the most demanding applications, use the FX ONE printer to lower your coding and marking costs, prevent downtime.</p>
            <span></span>
            <p class="orange">From emergin businessess with 1 small production line to.</p>
            <br>
            <a href="/" class="yellow-button"> Learn More <i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Paris" class="city" style="display:none">
          <h2>Paris</h2>
          <p>Paris is the capital of France.</p>
        </div>

        <div id="Tokyo" class="city" style="display:none">
          <h2>Tokyo</h2>
          <p>Tokyo is the capital of Japan.</p>
        </div>

        <div id="Bogota" class="city" style="display:none">
          <h2>Bogota</h2>
          <p>London is the capital of England.</p>
        </div>

        <div id="Lexico" class="city"style="display:none">
          <h2>Lexico</h2>
          <p>London is the capital of England.</p>
        </div>

        <div id="Brussels" class="city" style="display:none">
          <h2>Brussels</h2>
          <p>London is the capital of England.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "flex";
  }
</script>
