<!-- <div class="container">
  <% if current_user %>
  <p><%#= link_to "Countries", admin_countries_path %></p>
  <p><%#= link_to "Posts", posts_path %></p>
  <p><%#= link_to "Jobs", jobs_path %></p>
  <% end %>
</div>
 -->
<div class="home">
  <div class="first-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg") %>
    <div class="first-section-text">
      <!-- WEB TITLE -->
      <h1 class="hide-mobile m-0"><%= t("home.title") %></h1>
      <h1 class="hide-mobile"><%= t("home.title_bottom") %>  <span id="span_scroll" class="animated" data-array="<%= [t("home.title_span2"), t("home.title_span3"), t("home.title_span4"), t("home.title_span5"), t("home.title_span6"), t("home.title_span1")].to_json %>"><span class="animated-span"><%= t("home.title_span1") %></span></span></h1>
      <!-- WEB TITLE -->
      <!-- MOBILE TITLE -->
      <h1 class="show-mobile"><%= t("home.mobile_title") %>  <span id="span_scroll" class="animated" data-array="<%= [t("home.title_span2"), t("home.title_span3"), t("home.title_span1")].to_json %>"><span class="animated-span"><%= t("home.title_span2") %></span></span></h1>
      <!-- MOBILE TITLE -->
      <p><%= t("home.title_description") %></p>
    </div>
    <%= cl_image_tag("Foenix-machine_iqmh2t.png", class: "first-section-image") %>
  </div>
  <div class="second-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg-2") %>
    <div class="second-section-one" data-aos="fade-up" data-aos-duration="2000">
      <%= image_tag 'home-icon-1.png', class: 'about-icon' %>
      <h2><%= t("home.title_second") %></h2>
      <p class="responsive-text"><%= t("home.title_second_description") %></p>
      <a href="/software" class="yellow-button"><%= t("components.yellow_button") %> <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="second-section-two">
      <div class="code-everything">
        <h3><%= t("home.second_column_title") %></h3>
        <p class="responsive-text"><%= t("home.second_column_title_description") %></p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one ul">
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_one") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_three") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_four") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_five") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_six") %></li>
          </ul>
          <ul class="second-section-two-columns-two ul">
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_one_one") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_three_three") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_four_four") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_five_five") %></li>
          </ul>
        </div>
      </div>
      <div class="print-on-everything">
        <h3><%= t("home.second_column_title_two") %></h3>
        <p class="responsive-text"><%= t("home.second_column_title_description") %></p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one ul">
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_one") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_three") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_four") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_five") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_six") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_seven") %></li>
          </ul>
          <ul class="second-section-two-columns-two ul">
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_one_one") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two_two") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_three_three") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_four_four") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_five_five") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_six_six") %></li>
            <li class="responsive-text"><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_seven_seven") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="second-section-three">
      <%= cl_image_tag("foenix-dots_alc8g7.png", :quality=>"auto", class: "second-section-three_svg") %>
      <div>
        <%= cl_image_tag("foenix-milk_zg6rhu.png", :quality=>"auto", class: "second-section-three_image") %>
      </div>
      <div>
        <%= cl_image_tag("foenix-tube_zlcerz.png", :quality=>"auto", class: "second-section-three_image") %>
      </div>
    </div>
  <div class="third-section">
    <div class="third-section-features">
      <%= cl_image_tag("home-slant-1_mc6ddl.png", class: "home-slant-1") %>
      <%= cl_image_tag("home-slant-2_ecof1k.png", class: "home-slant-2") %>
      <div class="third-section-content" data-aos="fade-up" data-aos-duration="2000">
        <%= image_tag 'home-icon-2.png', class: 'about-icon' %>
        <h2><%= t("home.tabs_title") %></h2>
      </div>
      <div class="tab">
       <button class="cityTab activeTab" data-city="London" onclick="openCity('London', true)"><%= t("home.tabs_one") %></button>
       <button class="cityTab" data-city="Paris" onclick="openCity('Paris', true)"><%= t("home.tabs_two") %></button>
       <button class="cityTab" data-city="Tokyo" onclick="openCity('Tokyo', true)"><%= t("home.tabs_three") %></button>
       <button class="cityTab" data-city="Bogota" onclick="openCity('Bogota', true)"><%= t("home.tabs_four") %></button>
       <button class="cityTab" data-city="Lexico" onclick="openCity('Lexico', true)"><%= t("home.tabs_five") %></button>
       <button class="cityTab" data-city="Brussels" onclick="openCity('Brussels', true)"><%= t("home.tabs_six") %></button>
      </div>
      <div class="features-dropdown" >
        <button class="" onclick="openCity('London')"><%= t("home.tabs_one") %>></button><i class="fas fa-chevron-down"></i>
        <div class="features-dropdown-options">
          <button class="" onclick="openCity('London', true)"><%= t("home.tabs_one") %></button>
          <button class="" onclick="openCity('Paris', true)"><%= t("home.tabs_two") %></button>
          <button class="" onclick="openCity('Tokyo', true)"><%= t("home.tabs_three") %></button>
          <button class="" onclick="openCity('Bogota', true)"><%= t("home.tabs_four") %></button>
          <button class="" onclick="openCity('Lexico', true)"><%= t("home.tabs_five") %>o</button>
          <button class="" onclick="openCity('Brussels', true)"><%= t("home.tabs_six") %>s</button>
        </div>
      </div>
      <div class="tabs-area">
        <%= cl_image_tag("long-pill_xrmujn.png", class: 'tabs-pill') %>
        <div id="London" class="city" style="display: flex;">
          <div class="tab-text" >
            <h4><%= t("home.tabs_one_title") %></h4>
            <p><%= t("home.tabs_one_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_one_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div>
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>

        <div id="Paris" class="city" style="display:none">
          <div class="tab-text"  >
            <h4><%= t("home.tabs_two_title") %></h4>
            <p><%= t("home.tabs_two_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_two_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div >
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>

        <div id="Tokyo" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_three_title") %></h4>
            <p><%= t("home.tabs_three_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_three_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div >
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>

        <div id="Bogota" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_four_title") %></h4>
            <p><%= t("home.tabs_four_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_four_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div >
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>

        <div id="Lexico" class="city"style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_five_title") %></h4>
            <p><%= t("home.tabs_five_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_five_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div >
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>

        <div id="Brussels" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_six_title") %></h4>
            <p><%= t("home.tabs_six_description") %></p>
            <span class="progressHolder">
              <span class="progress"></span>
            </span>
            <p class="orange"><%= t("home.tabs_six_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <div >
            <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
          </div>
        </div>
      </div>
      <div class="third-section-video">
        <%= cl_image_tag("home-outline-pill-2_yk18fu.png", :quality=>"auto", class: "home-outline-pill-2") %>
        <%= cl_image_tag("dots-dots_mwj7rq.png", :quality=>"auto", class: "tvid_img_3") %>
        <div class="third-section-media" data-aos="fade-right" data-aos-duration="2000">
          <div class="third-section-media-lhs">
            <%= image_tag "fxone_home.png", alt: "alttext", class: "fxone_orange_image" %>
            <div class="request-loader" data-toggle="modal" data-target=".bd-example-modal-lg">
              <%= image_tag "Play.png", alt: "alttext", width: 30, height: 30, id: "rel" %>
            </div>
          </div>
          <div class="third-section-media-rhs">
            <div class="rhs-holder">
              <div class="third-section-media-rhs-title">
                <%= image_tag "fxone_orange.png", alt: "Fxone Printer", class: "fxon_orange" %>
                <h2><%= t('home.printer') %></h2>
              </div>
              <p><%= t('home.fxone_subtext') %></p>
            </div>
          </div>
        </div>
        <div class="third-video-text">
          <h3><span>FX ONE</span> Printer</h3>
          <p>Helping businesses improve efficiency and lower production costs</p>
        </div>
      </div>
    </div>
  </div>
  <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-cont" id="modal-cont">
        <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/oMW-QEs1zmc?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="fourth-section">
    <%#= cl_image_tag("blue-background_d5gnu1.png", :quality=>"auto", class: "fourth-section_svg") %>
    <div class="fourth-section-features">
      <div class="fourth-section-text" data-aos="fade-up" data-aos-duration="2000">
        <%= image_tag 'home-icon-3.png', class: 'about-icon' %>
        <h2><%= t("home.fourth_title") %></h2>
        <p><%= t("home.fourth_description") %></p>
        <a href="/about" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="fourth-section-grid" data-aos="fade-left" data-aos-duration="2000">
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'food.png' %>
            </div>
            <p><%= t('home.food') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'cosmetics.png' %>
            </div>
            <p><%= t('home.cosmetics') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'extrusion.png' %>
            </div>
            <p><%= t('home.extrusion') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'automotive.png' %>
            </div>
            <p><%= t('home.automotive') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'beverage.png' %>
            </div>
            <p><%= t('home.beverage') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'pharmaceutical.png' %>
            </div>
            <p><%= t('home.pharmaceutical') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'electronics.png' %>
            </div>
            <p><%= t('home.electronics') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'construction.png' %>
            </div>
            <p><%= t('home.construction') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'packaging.png' %>
            </div>
            <p><%= t('home.packaging') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'industrial.png' %>
            </div>
            <p><%= t('home.industrial_parts') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'chemicals.png' %>
            </div>
            <p><%= t('home.chemicals') %></p>
          </div>
          <div class="industries-card">
            <div class="industries-card-image-container">
              <%= image_tag 'more.png' %>
            </div>
            <p><%= t('home.and_many_more') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/newsletter' %>

<script>

  var words = JSON.parse(document.getElementById('span_scroll').dataset.array)
  var i = 0;
  function insert_span(a){
    document.querySelector(".animated-span").classList.add("up");
    setTimeout(function(){
      document.getElementById('span_scroll').innerHTML = `<span class="animated-span down">${words[a]}</span>`
      document.querySelector(".animated-span").classList.remove("down");
    }, 300);
  }

  function loopForever(){
      setTimeout(function(){
          insert_span(i);
          i++;
          if(i == 6){
              i = 0;
          }
          loopForever();
      }, 800  * (i + 1));
  }
  loopForever();

  // =======================
  // Tab Display Switcher
  // =======================

  // const fadeTimeOut = (x, i) => {
  //   setTimeout(function() { x[i].style.display = "none" }, 500);
  // }

  // const fadeTimeIn = (city) => {
  //   setTimeout(function() { city.style.display = "flex" }, 500);
  // }

  let cancelAnimation = false;

  function openCity(cityName, humanInteraction) {
    var i;
    var x = document.getElementsByClassName("city");

    for (i = 0; i < x.length; i++) {
      // x[i].classList.add('fadeOut')
      x[i].style.display = "none"
      // fadeTimeOut(x, i);
    }
    const city = document.getElementById(cityName)
    // city.classList.remove('fadeOut')
    // city.classList.add('fadeIn')
    // fadeTimeIn(city)
    city.style.display = "flex"
    tabHighlighter(cityName)
    if(humanInteraction == true) {
      cancelAnimation = true
      tabTimer(humanInteraction);
    } else {
      cancelAnimation = false
      tabTimer(humanInteraction);
    }
  }

  // =======================
  // Tab Timer
  // =======================
  const tabTimer = (humanInteraction) => {
    const tabAreas = document.querySelectorAll('.city')
    tabAreas.forEach((area) => {
      if(area.getAttribute('style') == "display: flex;") {
        const progressHolder = area.firstElementChild.getElementsByTagName('span')[0]
        const progress = progressHolder.firstElementChild
        progress.style.width = '1%'
        var width = 1;
        if(cancelAnimation == false) {
          var id = setInterval(frame, 50);
        } else {
          clearInterval(id);
        }
        if(humanInteraction == true) {
          var id = setInterval(frame, 50);
        }
        function frame() {
          if (width >= 100) {
            clearInterval(id);
            if(cancelAnimation == true && humanInteraction == false) {
            } else {
              tabSwitcher(area);
            }
          } else {
            width += 1;
            progress.style.width = width + "%";
          }
        }
      }
    })
  }
  tabTimer(false)

  // =======================
  // Auto Tab Switcher
  // =======================
  const tabSwitcher = (area) => {
    const tabs = document.querySelectorAll('.cityTab')
    const tabCities = []
    tabs.forEach((tab) => {
      tabCities.push(tab.dataset.city)
    })
    const nextCity = tabCities[tabCities.indexOf(area.id) + 1]
    // cancelAnimation = false
    if(tabCities.indexOf(area.id) == 5) {
      openCity("London")
    } else {
      openCity(nextCity, false)
    }
  }

  // =======================
  // Tab Highlighter
  // =======================
  const tabHighlighter = (cityName) => {
    const tabs = document.querySelectorAll('.cityTab')
    const activeTab = document.querySelector(`.cityTab[data-city=${cityName}]`)
    tabs.forEach((tab) => {
      tab.classList.remove('activeTab')
    })
    activeTab.classList.add('activeTab')
  }

</script>
