<div class="container">
  <% if current_user %>
  <p><%= link_to "Countries", admin_countries_path %></p>
  <p><%= link_to "Posts", posts_path %></p>
  <p><%= link_to "Jobs", jobs_path %></p>
  <% end %>
</div>

<div class="home">
  <div class="first-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg") %>
    <div class="first-section-text">
      <h1><%= t("home.title") %>  <span><%= t("home.title_span") %></span></h1>
      <p><%= t("home.title_description") %></p>
    </div>
    <div class="first-section-image">
      <%= cl_image_tag("Foenix-machine_iqmh2t.png", :quality=>"auto") %>
    </div>
  </div>
  <div class="second-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg-2") %>
    <div class="second-section-one">
      <%= image_tag 'home-icon-1.png', class: 'about-icon' %>
      <h2><%= t("home.title_second") %></h2>
      <p><%= t("home.title_second_description") %></p>
      <a href="/software" class="yellow-button"><%= t("components.yellow_button") %> <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="second-section-two">
      <div class="code-everything">
        <h3><%= t("home.second_column_title") %></h3>
        <p><%= t("home.second_column_title_description") %></p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one ul">
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_one") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_three") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_four") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_five") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_six") %></li>
          </ul>
          <ul class="second-section-two-columns-two ul">
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_one_one") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_three_three") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_four_four") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_five_five") %></li>
          </ul>
        </div>
      </div>
      <div class="print-on-everything">
        <h3><%= t("home.second_column_title_two") %></h3>
        <p><%= t("home.second_column_title_description") %></p>
        <div class="second-section-two-columns">
          <ul class="second-section-two-columns-one ul">
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_one") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_three") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_four") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_five") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_six") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_seven") %></li>
          </ul>
          <ul class="second-section-two-columns-two ul">
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_one_one") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_two_two") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_three_three") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_four_four") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_five_five") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_six_six") %></li>
            <li><%= image_tag 'foenix-check.png' %><%= t("home.second_column_two_seven_seven") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="second-section-three">
      <%= cl_image_tag("foenix-dots_alc8g7.png", :quality=>"auto", class: "second-section-three_svg") %>
      <%= cl_image_tag("foenix-milk_zg6rhu.png", :quality=>"auto", class: "second-section-three_image") %>
      <%= cl_image_tag("foenix-tube_zlcerz.png", :quality=>"auto", class: "second-section-three_image") %>
    </div>
  <div class="third-section">
    <%= cl_image_tag("foenix-home-background_wziieq.png", :quality=>"auto", class: "third-section_svg") %>
    <div class="third-section-features">
      <%= image_tag 'home-icon-2.png', class: 'about-icon' %>
      <h2><%= t("home.tabs_title") %></h2>
      <div class="tab">
       <button class="" onclick="openCity('London')"><%= t("home.tabs_one") %></button>
       <button class="" onclick="openCity('Paris')"><%= t("home.tabs_two") %></button>
       <button class="" onclick="openCity('Tokyo')"><%= t("home.tabs_three") %></button>
       <button class="" onclick="openCity('Bogota')"><%= t("home.tabs_four") %></button>
       <button class="" onclick="openCity('Lexico')"><%= t("home.tabs_five") %></button>
       <button class="" onclick="openCity('Brussels')"><%= t("home.tabs_six") %></button>
      </div>
      <div class="features-dropdown" >
        <button class="" onclick="openCity('London')"><%= t("home.tabs_one") %>></button><i class="fas fa-chevron-down"></i>
        <div class="features-dropdown-options">
          <button class="" onclick="openCity('London')"><%= t("home.tabs_one") %></button>
          <button class="" onclick="openCity('Paris')"><%= t("home.tabs_two") %></button>
          <button class="" onclick="openCity('Tokyo')"><%= t("home.tabs_three") %></button>
          <button class="" onclick="openCity('Bogota')"><%= t("home.tabs_four") %></button>
          <button class="" onclick="openCity('Lexico')"><%= t("home.tabs_five") %>o</button>
          <button class="" onclick="openCity('Brussels')"><%= t("home.tabs_six") %>s</button>
        </div>
      </div>
      <div class="tabs-area">
        <%= cl_image_tag("long-pill_xrmujn.png", :quality=>"auto") %>
        <div id="London" class="city">
          <div class="tab-text">
            <h4><%= t("home.tabs_one_title") %></h4>
            <p><%= t("home.tabs_one_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_one_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Paris" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_two_title") %></h4>
            <p><%= t("home.tabs_two_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_two_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Tokyo" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_three_title") %></h4>
            <p><%= t("home.tabs_three_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_three_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Bogota" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_four_title") %></h4>
            <p><%= t("home.tabs_four_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_four_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Lexico" class="city"style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_five_title") %></h4>
            <p><%= t("home.tabs_five_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_five_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>

        <div id="Brussels" class="city" style="display:none">
          <div class="tab-text">
            <h4><%= t("home.tabs_six_title") %></h4>
            <p><%= t("home.tabs_six_description") %></p>
            <span></span>
            <p class="orange"><%= t("home.tabs_six_bottom") %></p>
            <br>
            <a href="/" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
            <br><br><br><br><br><br><br><br><br>
          </div>
          <%= cl_image_tag("foenix-home-tab-1_mo3nfg.png", :quality=>"auto") %>
        </div>
      </div>
      <div class="third-section-video">
        <%= cl_image_tag("blues-pill_lf4fan.png", :quality=>"auto") %>
        <%= cl_image_tag("slice-pill_bfxclr.png", :quality=>"auto") %>
        <%= cl_image_tag("dots-dots_mwj7rq.png", :quality=>"auto") %>
        <div class="third-section-media">
        </div>
        <div class="third-video-text">
          <h3><span>FX ONE</span> Printer</h3>
          <p>Helping businesses improve efficiency and lower production costs</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth-section">
    <%#= cl_image_tag("blue-background_d5gnu1.png", :quality=>"auto", class: "fourth-section_svg") %>
    <div class="fourth-section-features">
      <div class="fourth-section-text">
        <%= image_tag 'home-icon-3.png', class: 'about-icon' %>
        <h2><%= t("home.fourth_title") %></h2>
        <p><%= t("home.fourth_description") %></p>
        <a href="/about" class="yellow-button"><%= t("components.yellow_button") %><i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="fourth-section-grid">
          <%= image_tag 'food-icon.png' %>
          <%= image_tag 'cosmetics-icon.png' %>
          <%= image_tag 'extrusion-icon.png' %>
          <%= image_tag 'automotive-icon.png' %>
          <%= image_tag 'beverage-icon.png' %>
          <%= image_tag 'pharma-icon.png' %>
          <%= image_tag 'elec-icon.png' %>
          <%= image_tag 'const-icon.png' %>
          <%= image_tag 'package-icon.png' %>
          <%= image_tag 'industry-icon.png' %>
          <%= image_tag 'chem-icon.png' %>
          <%= image_tag 'many-icon.png' %>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/newsletter' %>

<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "flex";
  }
</script>
