<div class="container">
  <% if current_user %>
  <p><%= link_to "Countries", admin_countries_path %></p>
  <p><%= link_to "Posts", posts_path %></p>
  <p><%= link_to "Jobs", jobs_path %></p>
  <% end %>
</div>

<div class="home">
  <div class="first-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg") %>
    <div class="first-section-text">
      <h1>Coding and Marking Made <span>Easy</span></h1>
      <p>Plug-and-play Industrial inkjet Printer for all types of production lines</p>
    </div>
    <div class="first-section-image">
      <%= cl_image_tag("Foenix-machine_iqmh2t.png", :quality=>"auto") %>
    </div>
  </div>
  <div class="second-section">
    <%= cl_image_tag("Foenix-first-section-svg_ykndwi.png", :quality=>"auto", class: "first-section-svg-2") %>
    <div class="second-section-one">
      <%= image_tag 'section-two-icon.png' %>
      <h2>Stress-free product traceability</h2>
      <p>Take your product traceability to all new level by printing in any languages, any fonts and in high resolution on any product</p>
      <a href="/" class="yellow-button"> Learn More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>
