<% content_for :meta_title, "#{t('seo.inks_and_consumables.title')}" %>
<% content_for :meta_description, "#{t('seo.inks_and_consumables.description')}" %>
<% content_for :meta_image, cl_image_path("inks-and-cons_wzglxn", width: 400) %>

<div class="inks-wrapper">
  <div class="first-section fxone-first-section-background" style="overflow-x: unset;">
    <%= cl_image_tag("inks_big_pill_dqob2a.png", :quality=>"auto", class: "inks-big-pill") %>
    <div class="first-section-text">
      <h1 class="w-100"><%= t("inks_and_consumables.first_section_text") %></h1>
      <h3 class="w-100 inks-fifth-section-subtext"><%= t("inks_and_consumables.first_section_text_two") %></h3>
    </div>
    <%= cl_image_tag("inks-and-cons_wzglxn.png", class: "first-section-image", style: "max-width: 700px;") %>
  </div>
  <div class="inks-second-section-wrapper">
    <%= image_tag 'about-dots.png', class: 'inks-dots-mobile show-mobile' %>
    <%= cl_image_tag("inks_little_pill_pahv4x.png", :quality=>"auto", class: "inks-little-pill") %>
    <div class="container">
      <div class="inks-section">
        <div class="inks-first-section-left" data-aos="fade-right" data-aos-duration="2000">
          <div class="inks-card pb-3" style="margin: 0 0 0 auto">
            <%= image_tag 'inks-card-icon-1.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header px-3"><%= t("inks_and_consumables.first_card_title") %></p>
            <p class="paragraph-text inks-card-text px-3"><%= t("inks_and_consumables.first_card_text") %></p>
          </div>
        </div>
        <div class="inks-first-section-right" data-aos="fade-left" data-aos-duration="2000">
          <%= image_tag 'square-dots.png', class: 'inks-dots hide-small' %>
          <div class="inks-card pb-3" style="margin: 0 auto 0 0">
            <%= image_tag 'inks-card-icon-2.png', class: 'about-icon square-card-icon' %>
            <p class="inks-card-header px-3"><%= t("inks_and_consumables.second_card_title") %></p>
            <p class="paragraph-text inks-card-text px-3"><%= t("inks_and_consumables.second_card_text") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inks-third-section-wrapper">
    <%= cl_image_tag("slant-background_xuvpqk.png", :quality=>"auto", class: "inks-slant hide-mobile") %>
    <%= cl_image_tag("mobile-slant_kd8uj1.png", :quality=>"auto", class: "inks-slant show-mobile") %>
    <div class="inks-section">
      <%= cl_image_tag("gif_r2eybt.gif", class: "inks-gif") %>
      <div class="inks-third-section-right mobile-center" data-aos="fade-up" data-aos-duration="2000">
        <%= image_tag 'inks-icon-1.png', class: 'about-icon' %>
        <h2 class="inks-fifth-section-text"><%= t("inks_and_consumables.third_section_title") %></h2>
        <p class="inks-fifth-section-text inks-fifth-section-subtext"><%= t("inks_and_consumables.third_section_text") %></p>
      </div>
    </div>
    <div class="jc">
      <%= cl_image_tag("inks-pipes_nfyp2g.png", :quality=>"auto", class: "inks-btm") %>
    </div>
  </div>
</div>
<%= render 'shared/newsletter' %>
