<div>
  <h6>Name: <%= @first_name %> <%= @last_name %></h6>
  <h6>Email: <%= @email %></h6>
  <h6>SMS: <%= @sms %></h6>
  <h6>Company: <%= @company %></h6>
  <h6>Country: <%= @country %></h6>
  <p>
    <%= @message %>
  </p>
</div>
