<div class="admin-wrapper">
  <%= cl_image_tag("inks_big_pill_dqob2a.png", class: "jobs-big-pill hide-mobile") %>
  <%= cl_image_tag("inks_little_pill_pahv4x.png", class: "jobs-little-pill hide-mobile") %>
  <div class="container position-relative">
    <h3>Edit Post</h3>
    <%= simple_form_for @post do |f| %>
      <%= f.input :title %>
      <%= f.input :text, as: :text %>
      <%= f.input :image %>
      <%= f.input :image_cache, as: :hidden %>
      <%= f.button :submit, class: 'crud-button' %>
    <% end %>
  </div>
</div>
