<div class="posts">
  <%= cl_image_tag("inks_big_pill_dqob2a.png", :quality=>"auto", class: "news-pill") %>
  <%= cl_image_tag("inks_little_pill_pahv4x.png", :quality=>"auto", class: "news-pill-bottom") %>

  <div class="featured-post">
    <a href="/">
      <h1>Featured</h1>
      <div class="featured-post-div">
        <div class="featured-post-div-text">
          <h2>Title Here</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ligula libero. Nulla et eros commodo, ultrices libero at, ullamcorper dui.</p>
        </div>
        <%= image_tag 'https://images.pexels.com/photos/417023/pexels-photo-417023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "featured-post-image" %>
      </div>
    </a>
  </div>
  <div class="all-news">
    <h1>News/Events</h1>
    <div class="news-grid">
      <% @posts.last(6).each do |post| %>
          <div class="post-card">
            <%= link_to post_path(post) do %>
            <div class="post-card-text">
              <h6><%= post.title %></h6>
              <p><%= truncate(post.text, length: 120) %></p>
              <!-- <p class="post-mini-text"><%= simple_format @post.text %></p> -->
              <div class="post-card-text-details">
                <p class="font-12">Reading Time: <%= post.time %> mins</p>
                <pre> • </pre>
                <p class="font-12"><%= post.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
              <%= cl_image_tag post.image %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="news-grid-button">
     <!--  <span class="yellow-button">More News</span> -->
    </div>
  </div>
</div>
