<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Foenix Coding</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="min-height">
      <%= yield %>
    </div>
    <% if @not_seen_cookie %>
      <div class="cookie-bar">
        <div class="cookie-bar-content d-flex justify-content-center align-items-center">
          <div class="corner"></div>
          <p class="m-0 text-center"><%= t("cookie_bar.content") %> <span style="color: #FFB03A;"><%= t("cookie_bar.cookie_policy") %></span></p>
          <%= link_to seen_cookie_path, remote: true, class: 'cookie-close close-cookie-bar' do %>
            <%= image_tag "cookie-close.png" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
