<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74901617-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-74901617-1');
    </script>
    <script type="text/javascript">
      (function() {
        window.sib = { equeue: [], client_key: "f76anseergad64vxzbpftca3" };
        /* OPTIONAL: email to identify request*/
        // window.sib.email_id = 'example@domain.com';
        /* OPTIONAL: to hide the chat on your script uncomment this line*/
        // window.sib.display_chat = 0;
        // window.sib.display_logo = 0;
        /* OPTIONAL: to overwrite the default welcome message uncomment this line*/
        // window.sib.custom_welcome_message = 'Hello, how can we help you?';
        /* OPTIONAL: to overwrite the default offline message uncomment this line*/
        window.sib.custom_offline_message = 'We are currently offline. In order to answer you, please indicate your email in your messages.';
        window.sendinblue = {}; for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) { (function(k) { window.sendinblue[k] = function(){ var arg = Array.prototype.slice.call(arguments); (window.sib[k] || function() { var t = {}; t[k] = arg; window.sib.equeue.push(t);})(arg[0], arg[1], arg[2]);};})(j[i]);}var n = document.createElement("script"),i = document.getElementsByTagName("script")[0]; n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
      })();
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>
  <body>
    <% unless params[:action] == 'landing' || params[:action] == 'sauven_marking' %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    <% end %>
    <div class="<%= (params[:action] == 'landing' || params[:action] == 'sauven_marking') ? '' : 'min-height' %>">
      <%= yield %>
    </div>
    <% unless params[:action] == 'landing' || params[:action] == 'sauven_marking' %>
      <% if @not_seen_cookie %>
        <div class="cookie-bar">
          <div class="cookie-bar-content d-flex justify-content-center align-items-center">
            <div class="corner"></div>
            <p class="m-0 text-center"><%= t("cookie_bar.content") %> <a href="/cookie_policy" style="color: #FFB03A;"><%= t("cookie_bar.cookie_policy") %></a></p>
            <%= link_to seen_cookie_path, remote: true, class: 'cookie-close close-cookie-bar' do %>
              <%= image_tag "cookie-close.png" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% unless params[:action] == 'landing' || params[:action] == 'sauven_marking' %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
